Schema.org markup for Google
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "LocalBusiness",
    "name": "Mageplaza",
    "telephone": "+84 24 6687 1163",
    "email": "hi@mageplaza.com",
    "url": "https://www.mageplaza.com",
    "priceRange": "1000000 $ - 12000000 $",
    "logo": "https://www.mageplaza.com/skin/frontend/mageplaza/landingpage/images/logo.png",
    "image": "https://www.mageplaza.com/skin/frontend/mageplaza/default/img/logo-white.png",
    "hasMap": [
        "https://goo.gl/maps/L8CdyHtZeQK2"
    ],
    "address": [
        {
            "@type": "PostalAddress",
            "addressLocality": "Hà Đông",
            "addressCountry": "VN",
            "addressRegion": "Hanoi",
            "postalCode": "100000",
            "streetAddress": "Tầng 11, TTTM Hồ Gươm Plaza, 102 Trần Phú"
        }
    ],
    "openingHoursSpecification": [
        {
            "@type": "OpeningHoursSpecification",
            "dayOfWeek": [
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday"
            ],
            "opens": "08:00",
            "closes": "17:30"
        }
    ]
}
</script> 