<!-- Newsletter -->
<section class="bg-[#E7EAF3] py-4">
  <div class="container mx-auto px-8 max-w-5xl">
    <div class="flex flex-col md:flex-row md:items-center md:justify-between px-4 md:px-12">
      <!-- Text content -->
      <div class="md:w-1/2 mb-3 md:mb-0">
        <h2 class="text-lg font-bold">Stay in the know</h2>
        <p class="text-sm">Get special offers on the latest developments from Mageplaza</p>
      </div>
      
      <!-- Newsletter form -->
      <div class="md:w-1/2">
        <form class="flex bg-white rounded shadow-sm">
          <input type="email" placeholder="Your email" class="flex-grow px-4 py-1.5 text-sm rounded-l border-0 focus:ring-0 focus:outline-none">
          <button type="submit" class="text-white px-4 py-1.5 rounded-r duration-300">
            <img src="https://cdn2.mageplaza.com/mp/assets/img/icons-new/submit-icon-1.png" class="h-4">
          </button>
        </form>
      </div>
    </div>
  </div>
</section> 